.flexyboard {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  left: 0;
  top: 0;
  padding-top: 70px;
  padding-bottom: 50px;
  box-sizing: border-box;
  /**
   * Layout Variations
   */
  /*----------  header  ----------*/
  /*----------  Container  --------*/
  /*----------  Sidebar  ----------*/
  /*----------  Sidebar Secondary  ----------*/
  /*----------  Sidebar Secondary  ----------*/
  /*----------  RTL  ----------*/
  /*----------  Animated  ----------*/ }
  .flexyboard > *,
  .flexyboard .f-container > * {
    box-sizing: border-box; }
  .flexyboard .f-header {
    position: absolute;
    top: 0;
    left: 230px;
    right: 230px;
    height: 70px;
    z-index: 20; }
  .flexyboard .f-container {
    margin: 0 auto;
    padding-right: 230px;
    padding-left: 230px;
    max-width: 100%; }
  .flexyboard .f-content {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 70px - 50px); }
  .flexyboard .f-sidebar {
    position: absolute;
    width: 230px;
    flex-basis: 230px;
    top: 70px;
    left: 0;
    bottom: 50px;
    z-index: 10; }
  .flexyboard .f-sidebar-secondary {
    position: absolute;
    width: 230px;
    flex-basis: 230px;
    top: 70px;
    right: 0;
    bottom: 50px;
    z-index: 15; }
  .flexyboard .f-footer {
    position: absolute;
    bottom: 0;
    left: 230px;
    right: 230px;
    height: 50px;
    z-index: 20; }
  .flexyboard.-header-fixed {
    padding-top: 70px; }
    .flexyboard.-header-fixed .f-header {
      position: fixed; }
  .flexyboard.-header-sticked-left .f-header {
    left: 0; }
  .flexyboard.-header-sticked-right .f-header {
    right: 0; }
  .flexyboard.-container-static {
    padding-left: 230px;
    padding-right: 230px; }
    .flexyboard.-container-static .f-container {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 980px; }
  .flexyboard.-sidebar-fixed .f-sidebar {
    position: fixed; }
  .flexyboard.-sidebar-sticked-top .f-sidebar {
    top: 0; }
  .flexyboard.-sidebar-sticked-bottom .f-sidebar {
    bottom: 0; }
  .flexyboard.-sidebar-sticked-content.-container-static .f-header {
    left: 0; }
  .flexyboard.-sidebar-sticked-content.-container-static .f-sidebar {
    top: 0;
    position: relative; }
  .flexyboard.-sidebar-sticked-content.-container-static .f-footer {
    left: 0; }
  .flexyboard.-sidebar-collapsed {
    padding-left: 0; }
    .flexyboard.-sidebar-collapsed .f-header {
      left: 0; }
    .flexyboard.-sidebar-collapsed .f-sidebar {
      left: -230px; }
    .flexyboard.-sidebar-collapsed .f-footer {
      left: 0; }
  .flexyboard.-sidebar-secondary-fixed .f-sidebar-secondary {
    position: fixed; }
  .flexyboard.-sidebar-secondary-sticked-top .f-sidebar-secondary {
    top: 0; }
  .flexyboard.-sidebar-secondary-sticked-bottom .f-sidebar-secondary {
    bottom: 0; }
  .flexyboard.-sidebar-secondary-sticked-content.-container-static {
    padding-right: 0; }
    .flexyboard.-sidebar-secondary-sticked-content.-container-static .f-header {
      right: 0; }
    .flexyboard.-sidebar-secondary-sticked-content.-container-static .f-sidebar-secondary {
      top: 0;
      position: relative; }
    .flexyboard.-sidebar-secondary-sticked-content.-container-static .f-footer {
      right: 0; }
  .flexyboard.-sidebar-secondary-collapsed {
    padding-right: 0; }
    .flexyboard.-sidebar-secondary-collapsed .f-header {
      right: 0; }
    .flexyboard.-sidebar-secondary-collapsed .f-sidebar-secondary {
      right: -230px; }
    .flexyboard.-sidebar-secondary-collapsed .f-footer {
      right: 0; }
  .flexyboard.-footer-fixed {
    padding-bottom: 50px; }
    .flexyboard.-footer-fixed .f-footer {
      position: fixed; }
  .flexyboard.-footer-sticked-left .f-footer {
    left: 0; }
  .flexyboard.-footer-sticked-right .f-footer {
    right: 0; }
  .flexyboard.-rtl {
    text-align: right; }
    .flexyboard.-rtl .f-sidebar {
      left: auto;
      right: 0; }
    .flexyboard.-rtl .f-container {
      flex-direction: row-reverse; }
    .flexyboard.-rtl .f-sidebar-secondary {
      right: auto;
      left: 0; }
    .flexyboard.-rtl.-sidebar-sticked-content {
      padding-right: 0; }
      .flexyboard.-rtl.-sidebar-sticked-content .f-header {
        right: 0; }
      .flexyboard.-rtl.-sidebar-sticked-content .f-footer {
        right: 0; }
    .flexyboard.-rtl.-sidebar-secondary-sticked-content {
      padding-right: 0; }
      .flexyboard.-rtl.-sidebar-secondary-sticked-content .f-header {
        right: 0; }
      .flexyboard.-rtl.-sidebar-secondary-sticked-content .f-footer {
        right: 0; }
    .flexyboard.-rtl.-sidebar-collapsed {
      padding-right: 0; }
      .flexyboard.-rtl.-sidebar-collapsed .f-sidebar {
        right: -230px; }
    .flexyboard.-rtl.-sidebar-secondary-collapsed {
      padding-left: 0; }
      .flexyboard.-rtl.-sidebar-secondary-collapsed .f-sidebar-secondary {
        left: -230px; }
  .flexyboard.-animated {
    transition: opacity 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease; }
    .flexyboard.-animated .f-header,
    .flexyboard.-animated .f-sidebar,
    .flexyboard.-animated .f-content,
    .flexyboard.-animated .f-sidebar-secondary,
    .flexyboard.-animated .f-footer {
      transition: opacity 0.3s ease, left 0.3s ease, right 0.3s ease, width 0.3s ease; }

.demo-block, .flexyboard.demo .f-header, .flexyboard.demo .f-sidebar, .flexyboard.demo .page, .flexyboard.demo .f-sidebar-secondary, .flexyboard.demo .f-footer {
  padding: 15px; }

.body {
  font-family: 'Open Sans', sans-serif; }

.flexyboard.demo {
  background-color: #d7dde4; }
  .flexyboard.demo .f-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ccc; }
  .flexyboard.demo .f-sidebar {
    background-color: #3a4651;
    color: #fff; }
  .flexyboard.demo .page p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px; }
  .flexyboard.demo .f-sidebar-secondary {
    background-color: #9baabb; }
  .flexyboard.demo .f-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff; }
  .flexyboard.demo.-rtl .f-header {
    flex-direction: row-reverse; }
  .flexyboard.demo.-rtl .f-footer {
    flex-direction: row-reverse; }
